<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
    
    xmlns:gap = "http://phonegap.com/ns/1.0"
    
    id        = "mworld.monash"
    
    version   = "0.0.1">
    
    
    
    <name>BHPB-RT</name>
    
    
    
    <description>
        
        EY Tour
        
    </description>
    
    
    
    <author href="http://www.uvmate.com" email="jhmohseni@gmail.com">
        
        Hootan Mohseni
        
    </author>
    
    
    
    
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />



<icon src="icon-default/icon.png"  gap:platform="android" gap:density="ldpi"  />
<icon src="icon-mdpi/icon.png"  gap:platform="android" gap:density="mdpi"  />
<icon src="icon-hdpi/icon.png"  gap:platform="android" gap:density="hdpi"  />
<icon src="icon-xhdpi/icon.png" gap:platform="android" gap:density="xhdpi" />


    
</widget>